 {% extends 'header.html' %}

{% block content %}
{% load static %}

  <div class="dflex-container">
  <div class="dflex-item1">
      <img class="img1" src="/static/img/in2.jpg" alt="">
  </div>

  <div class="dflex-item2">
  <div class="dflex-item22">
      <img class="img1" src="{% static 'img/bianzhu1.png' %}" alt="">
  </div>
  <div class="dflex-item23">flex item 3</div>
  </div>

</div>




<!-- <div class="dflex-container">-->
<!--  <div class="dflex-item1">-->
<!--      <img class="img1" src="/static/img/in2.jpg" alt="">-->
<!--  </div>-->

<!--  <div class="dflex-item2">-->
<!--     <div class="dflex-item21">flex item 1</div>-->
<!--  <div class="dflex-item22">flex item 2</div>-->
<!--  <div class="dflex-item23">flex item 3</div>-->
<!--  </div>-->

<!--</div>-->





<!-- <div class="dflex-container">-->
<!--  <div class="dflex-item1">-->
<!--     <img class="img1" src="{% static 'img/in2.jpg' %}" alt="">-->
<!--  </div>-->
<!--  <div class="dflex-item">-->
<!--      <div class="dflex-item2">-->
<!--          <div class="dflex-item21">2019年9月</div>-->
<!--           <div class="dflex-item21">2020年10月</div>-->
<!--           <div class="dflex-item21">2021年1月</div>-->
<!--          <div class="dflex-item21">2020年12月</div>-->
<!--          <div class="dflex-item21">2021年11月</div>-->
<!--      </div>-->
<!--      <div class="dflex-item3">-->

<!--              <div class="dflex-item32">-->
<!--                  <img class="img1" src="{% static 'img/bianzhu1.png' %}" alt="">-->
<!--              </div>-->
<!--              <div class="dflex-item33">-->
<!--                 <h4>α阿尔法变异株</h4>-->
<!--                 <p1>α阿尔法变异株别名B.1.1.7谱系（英语：Lineage B.1.1.7），是新冠病毒2（SARS-CoV-2）的一种变异株，世界卫生组织将其列为“高关注变异株”（VOC），原因是其传播性较严重的严重急性呼吸系统综合征冠状病毒2高70%。</p1>-->
<!--              </div>-->

<!--              <div class="dflex-item32">-->
<!--                  <img class="img1" src="{% static 'img/bianzhu5.png' %}" alt="">-->
<!--              </div>-->
<!--              <div class="dflex-item33">-->
<!--                  <h4>β贝塔变异株</h4>-->
<!--                 <p1>别名B.1.351谱系（英语：Lineage B.1.351），是严重急性呼吸系统综合征冠状病毒2（SARS-CoV-2）的一种变种，于2020年10月在南非东开普省的纳尔逊-曼德拉湾都市区首次发现。</p1>-->
<!--              </div>-->

<!--              <div class="dflex-item32">-->
<!--                   <img class="img1" src="{% static 'img/bianzhu3.png' %}" alt="">-->
<!--              </div>-->
<!--              <div class="dflex-item33">-->
<!--                  <h4>γ伽马变异株</h4>-->
<!--                 <p1>伽马变异株别名P.1谱系（英语：Lineage P.1），是严重急性呼吸系统综合征冠状病毒2（SARS-CoV-2）的一种变异株，于2021年1月6日首次在日本东京发现。</p1>-->
<!--              </div>-->

<!--              <div class="dflex-item32">-->
<!--                  <img class="img1" src="{% static 'img/bianzhu2.png' %}" alt="">-->
<!--              </div>-->
<!--              <div class="dflex-item33">-->
<!--                  <h4>δ德尔塔变异株</h4>-->
<!--                 <p1>界卫生组织将COVID-19几种主要的变异病毒株以希腊字母δ命名，以避免地名命名导致污名化的问题，其中B.1.617.1命名为“卡帕”、B.1.617.2命名为“Delta”。</p1>-->
<!--              </div>-->

<!--              <div class="dflex-item32">-->
<!--                   <img class="img1" src="{% static 'img/bianzhu4.png' %}" alt="">-->
<!--              </div>-->
<!--              <div class="dflex-item33">-->
<!--                  <h4>ο奥密克戎变异株</h4>-->
<!--                 <p1>此变异株和其他严重急性呼吸系统综合征冠状病毒2变异株一样（如：阿尔法、德尔塔），没有任何发病症状的变化，部分感染者不会产生任何症状。</p1>-->
<!--              </div>-->

<!--      </div>-->
<!--  </div>-->

<!--</div>-->



{% endblock %}
