{% extends 'header.html' %}

{% block content %}

<div class="pflex-container">
  <div class="pflex-item1">
    <img class="img1" src="/static/img/p1.jpg" alt="">
  </div>

  <div class="pflex-item2">
      <main>
<!--<div id="main-l">左侧栏宽 20%</div>-->
<div1 id="main-m">
    <video width="650" height="550" controls autoplay loop>
  <source src="/static/img/process.mp4" type="video/mp4">
</video>
</div1>
<!--<div id="main-r">右侧栏宽 20%</div>-->
</main>
  </div>

  <div class="pflex-item1">
    <img class="img1" src="/static/img/p2.jpg" alt="">
  </div>
</div>



{% endblock %}