{% extends 'header.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="col-md-3">
        <div class="panel panel-default" style="height: 200px;margin-top: 30px">
            <div class="panel-heading">
                <h3 class="panel-title">Search Panel</h3>
            </div>

            <!--搜索框-->
            <div class="panel-body">
                <!--表单提交，向/medicine/search/发送post请求-->
                <form action="/medicine/search/" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"></span>
                        <!--                        name==title请不要更改-->
                        <input aria-describedby="sizing-addon2" class="form-control" name="title"
                               placeholder="Username" type="text">
                    </div>
                    <input class="btn btn-primary" id="loading" style="margin-top: 20px;" type="submit"
                           value="Search">
                </form>
            </div>


        </div>
    </div>

    <div class="col-md-8">
        <table class="table table-striped" style="margin: 20px">
            <thead>
            <tr>
                <th>推荐药方</th>
                <th>出处</th>
                <th>适合症状</th>
            </tr>
            </thead>
            <tbody>
            {% for i in dic %}
            <tr>
                <th>{{ i.recommend }}</th>
                <th>{{ i.source }}</th>
                <th>{{ i.excerpt }}</th>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>


<!--<script crossorigin="anonymous"-->
<!--        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"-->
<!--        src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--<script src="../static/plug/BootSrap/js/bootstrap.min.js"></script>-->
<script>
    // 点击按钮后显示loading
    $("#loading").click(function () {
        var l = $(this).text();
        console.log(l)
        $(this).val('loading...')
    });
</script>


{% endblock %}