
{% extends 'header.html' %}

{% block content %}
{% load static %}

    <meta charset="UTF-8">
    <title>第十版新型冠状病毒感染诊疗方案</title>

<br>

<h3>中医治疗</h3>
<p1>  本病属于中医“疫”病范畴，病因为感受“疫戾”之气，
  各地可根据病情、证候及气候等情况，参照下列方案进行辨
  证论治。涉及超药典剂量，应当在医师指导下使用。针对非
  重点人群的早期新冠病毒感染者，可参照《新冠病毒感染者
 居家中医药干预指引》《关于在城乡基层充分应用中药汤剂
  开展新冠病毒感染治疗工作的通知》中推荐的中成药或中药
    协定方，进行居家治疗。</p1></br>



<p1> <b>治疗</b>1</p1></br>
<p1>  <b>.1.1 清肺排毒汤</b></p1>
<p1>  适用范围：适用于轻型、中型、重型、危重型病例，结合患者情况规范使用。</p1>
<p1>  基础方剂：</p1>
    <p1>  麻黄 9g、炙甘草 6g、杏仁 9g、生石膏 15～ 30g（先煎）、桂枝 9g、泽泻 9g、猪苓 9g、白术 9g、茯苓 15g、 柴胡 16g、黄芩 6g、姜半夏 9g、生姜 9g、紫菀 9g、款冬花
9g、射干 9g、细辛 6g、山药 12g、枳实 6g、陈皮 6g、广藿
香 9g。
服法：每日 1 剂，水煎服。早晚各 1 次，餐后 40 分钟
服用，3 日一个疗程。患者不发热则生石膏用量小，发热或
壮热可加大生石膏用量。
推荐中成药：清肺排毒颗粒。</p1></br>


<p1> <b>1.2 轻型</b>1</p1>

<p1>黄芩 10g、柴胡 10g、赤芍 10g、连翘 15g、青蒿 10g（后下）、
苍术 10g、大青叶 10g、甘草 5g。</p1></br>
<p1> <b>（4）推荐中成药：</b></p1>
<b>藿香正气胶囊</b><p1>（软胶囊、丸、水、
口服液）、疏风解毒胶囊（颗粒）、清肺排毒颗粒、化湿败毒
颗粒、宣肺败毒颗粒、散寒化湿颗粒、金花清感颗粒、连花
清瘟胶囊（颗粒）等。</p1></br>
<b>（5）针灸治疗推荐穴位</b><p1> 1：合谷、后溪、阴陵泉、太溪、
肺俞、脾俞。针刺方法：每次选择 3 个穴位，针刺采用平补
平泻法，得气为度，留针 30 分钟，每日 1 次。以下针刺方
法相同。</p1></br>
<p1> <b>1.3 中型</b></p1>
<b>（1）湿毒郁肺证</b>
<p1>临床表现：发热，咳嗽，恶风寒，周身酸痛，咽干咽痛，
或憋闷、腹胀便秘。舌红或暗，舌胖，苔腻，脉滑数或弦滑。</p1></br>
<p1> <b>推荐处方：宣肺败毒方</b></p1>
<p1>麻黄 6g、炒苦杏仁 15g、生石膏 30g、薏苡仁 30g、苍
术 10g、广藿香 15g、青蒿 12g、虎杖 20g、马鞭草 30g、芦
根 30g、葶苈子 15g、化橘红 15g、甘草 10g。</p1></br>
 <b>（2）寒湿阻肺证</b>
<p1>临床表现：低热，身热不扬，或未热，干咳，少痰，倦
怠乏力，胸闷，脘痞，或呕恶，便溏。舌质淡或淡红，苔白
或白腻，脉濡。</p1>

<p1>推荐处方：苍术 15g、陈皮 10g、厚朴 10g、广藿香 10g、
草果 6g、麻黄 6g、羌活 10g、生姜 10g、槟榔 10g。</p1></br>

{% endblock %}